*{
  font-family: 'Fuzzy Bubbles', cursive;
  text-decoration-color: black;
  box-sizing: border-box;
 
}


p{
  font-size: 16px;
}

html {
  height: 100vh;
}

footer{
  margin-top: auto;
  padding-bottom: 0;

}