*{
  font-family: 'Fuzzy Bubbles', cursive;
  font-family: 'Philosopher', sans-serif;
  text-decoration-color: black;
  
 
}

p{
  font-size: 17px;
}

html, body {
  height: 100%;
}

footer{
  margin-top: auto;
  padding-bottom: 0;

}